<!doctype html>
<div class="homebookmark">
	<a href="/"><img src="/images/bookmark.png" />	</a>
</div>

<div class="title">
	<center>
		<a href="/" id="link"><h1>Pilcrow</h1></a>
		<p>crowdsourced story builder <br/><br/>
		<i class="fa fa-question-circle fa-2x"data-toggle="collapse" data-target="#expand" id="helpButton" style="color:#CC0000"></i></p>

		<div id="expand" class="collapse">
			pil·crow: a symbol (¶) used to mark a new paragraph or section of text.<br/><br/>
			The first pilcrow that reaches 10 likes will be set into the final storyline (below). Once a pilcrow is set, the following pilcrows will continue where it left off. Vote or write the next pilcrow and check back to see how the story unravels!
		</div>					
	</center>
</div>