<!doctype html>
<div data-toggle="collapse" data-target="#collapseExplain" id="hand">
	<center><button type="button" class="btn btn-default">View Prompt</button></center>
</div>

<div id="collapseExplain" class="collapse">
	<div class="thumbnail" id="explain">
		A day before the Earth is destroyed by a collision with a rouge planet, time freezes. You, a completely normal person are untouched and cannot die. Text on your arm appears that reads, "however long it takes, save us".<br/>
		<hr>
		<i>Prompt courtesy of <a href="https://www.reddit.com/r/WritingPrompts/comments/3pyg3h/wp_a_day_before_the_earth_is_destroyed_by_a/" target="_blank">r/WritingPrompts</a></i>

	</div>
</div>