<!doctype html>
<head>
	<link href="/css/font-awesome.css" rel="stylesheet">
	<link href="/css/font-awesome.min.css" rel="stylesheet">
</head>

<div class="simplehead">
		<a href="/" id="link">
			<img src="/images/bookmark.png" />
			<i class="fa fa-home fa-2x"></i>
			<h1>Pilcrow</h1>
		</a>			
</div>