<!doctype html>

<html>
<!--<div class="container">-->
<head>
	<title>Pilcrow</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/bootstrap-theme.css">
	<link rel="stylesheet" href="/css/hci-friends.css">-->
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/pilcrow.css" rel="stylesheet">
	<link href="/css/font-awesome.css" rel="stylesheet">
	<link href="/css/font-awesome.min.css" rel="stylesheet">
	<!--cursive title font-->
	<link href='https://fonts.googleapis.com/css?family=Cedarville+Cursive' rel='stylesheet' type='text/css'>
	<!--crowned pilcrow font-->
	<link href='https://fonts.googleapis.com/css?family=Goudy+Bookletter+1911' rel='stylesheet' type='text/css'>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->    

    <!-- Google Analytics Content Experiment code -->
	<script>function utmx_section(){}function utmx(){}(function(){var
	k='117738916-3',d=document,l=d.location,c=d.cookie;
	if(l.search.indexOf('utm_expid='+k)>0)return;
	function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
	indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
	length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
	'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
	'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
	'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
	valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
	'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
	</script><script>utmx('url','A/B');</script>
	<!-- End of Google Analytics Content Experiment code -->
    
</head>

<footer>
	<div class="fixedButtons">

			<form id="voteButton" role="form" method="get" action="/vote" class="inBlock">
				<button type="submit" class="btn btn-default btn-block"role="form" method="get" action="/vote" ><div style="padding-left:15px;padding-right:15px;">Vote <i class="fa fa-paragraph"></i> {{pilcrowSize}}</div></button>
			</form>


			<form id="addFriendForm" role="form" method="get" action="/add" class="inBlock">
				<button type="submit" class="btn btn-primary btn-block">
					<div style="padding-left:15px;padding-right:15px;">Write <i class="fa fa-paragraph"></i> {{pilcrowSize}}</div>
				</button>
			</form>

	</div>
</footer>

<body>

			


	<div>
		<!-- h1 through h6 are headers. The higher the number, the smaller the header -->
		<!-- p means paragraph -->
		<div class="container">
		{{> header}}</div>
			

		<div class="intro">

			<h4>Prompt:</h4>
			<div class="thumbnail" id="explain">
				A day before the Earth is destroyed by a collision with a rouge planet, time freezes. You, a completely normal person are untouched and cannot die. Text on your arm appears that reads, "however long it takes, save us".<br/>
				<hr>
				<i>Prompt courtesy of <a href="https://www.reddit.com/r/WritingPrompts/comments/3pyg3h/wp_a_day_before_the_earth_is_destroyed_by_a/" target="_blank">r/WritingPrompts</a></i>

			</div>
			<p>The story so far...</p>
			<div class="paper">
				<div class="storyTitle">
					"however long it takes, save us"
				</div>

				<!-- display the crowned pilcrows -->
				<div style="padding-left: 10px">
					{{#each crowned}}

						<blockquote><div id="vote" class="crownedPilcrows">
							{{name}}<br/>
							<p align="right"><i style="color:#b5b5b5">{{penname}}</i></p>
						</div></blockquote>
				
					{{/each}}
				</div>
			</div>
	
		</div>

		
	</div>


	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/pilcrow.js"></script>
	<!-- Include all compiled plugins (blelow), or include individual files as needed -->
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/introHCI.js"></script>
	{{> googleAnalytics}}
</body>
</html>
