/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */	
	color: #CC00AA;
}

/* this style exists to make it obvious that you've successfully linked
   the CSS to the page. feel free to remove it once the link is working. */
body {
     padding: 20px;
     padding-bottom: 120px;
}

.title h1 {
  font-size: 71px;
  font-weight: 500;
  /*line-height: 2.1428571435;*/
  color: inherit;
  
}

.title p {
    line-height: 1;
    font-weight: 200;
    font-size: 20px;
}

#link {
    color: #000;
    text-decoration: none;
}

.title #expand {
    font-weight: 110;
    max-width: 500px;
}

#hand {
    cursor: pointer;
}

.jumbotron {
	position: relative;
	background: none;
}

.jumbotron:after {
     content:"";
     /*background: url("http://lorempixel.com/1140/283");*/
     opacity: 0.2;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;	
}



p {
    /*font-variant: small-caps;*/
}

.project {
    width: 80%;
    margin: 0 auto; 
}

.project p {
     /*font-variant: small-caps;*/
  
}

.image {
    width: 100%;
    padding-bottom: 20px;
}

.intro {
    padding-top: 50px;
    max-width: 650px;
    margin: 0 auto;
}

.quote {
    width: 50%;
    margin: 0 auto;
}

.intro p {
    padding-top: 10px;
    padding-left: 10px;
}

.intro #return {
    padding-top: 50px;
    color: #000;
    text-decoration: none;
}

.container .content {
    display: none;
    padding : 5px;
}

#explain {
    margin: 20px;
    background-color: #eeeeee;
    padding: 15px;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

html { margin:11px }
