/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */	
	color: #CC00AA;
}

/* this style exists to make it obvious that you've successfully linked
   the CSS to the page. feel free to remove it once the link is working. */
body {
     padding: 20px;
     padding-bottom: 120px;
}


.title h1 {
  font-size: 71px;
  font-weight: 500;
  /*line-height: 2.1428571435;*/
  color: inherit;
  
}

.title h2 {
  font-size: 71px;
  font-weight: 500;
  /*line-height: 2.1428571435;*/
  color: inherit;
  
}

.title p {
    line-height: 1;
    font-weight: 200;
    font-size: 20px;
}

#link {
    color: #000;
    text-decoration: none;
}

.title #expand {
    font-weight: 110;
    max-width: 500px;
}

#hand {
    cursor: pointer;
}

.jumbotron {
	position: relative;
	background: none;
}

.jumbotron:after {
     content:"";
     /*background: url("http://lorempixel.com/1140/283");*/
     opacity: 0.2;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;	
}



p {
    /*font-variant: small-caps;*/
}

.project {
    width: 80%;
    margin: 0 auto; 
}

.project p {
     /*font-variant: small-caps;*/
  
}

.image {
    width: 100%;
    padding-bottom: 20px;
}

.intro {
    padding-top: 25px;
    max-width: 650px;
    margin: 0 auto;
}

.quote {
    width: 50%;
    margin: 0 auto;
}

.intro p {
    padding-top: 10px;
    padding-left: 10px;
}

.intro #return {
    padding-top: 50px;
    color: #000;
    text-decoration: none;
}

.container .content {
    display: none;
    padding : 5px;
}

#explain {
    margin: 20px;
    background-color: #eeeeee;
    padding: 15px;
}

#vote {
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
}

#like {
    padding-top: 15px;
    display: inline-block;
    float: right;

}


hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

html { margin:11px }


.simplehead{
    margin-top: -31px;
    display: inline-block;
    position: relative;
}
.simplehead h1 {
    color:white;
    font-size: 21px;
    font-weight: 400;
    position:relative;
    z-index:2;
    top:0px;
    padding: 10px;
    padding-top: 25px;
}
.simplehead img {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:150px;
    z-index:1;
    padding-bottom: 25px;
}

.simplehead i {
  padding-left: 33px;
  padding-top:7px;
  /*padding-right:25px;*/
  color: #fff;
  top:10px;
  position:absolute;
  z-index:1;
}

.homebookmark {
    margin-top: -31px;
    display: inline-block;
    position: relative;
}

.homebookmark img {
    /*position:absolute;*/
    top:0px;
    left:0px;
    width:89px;
    height:150px;
    /*z-index:1;*/
    padding-bottom: 25px;
}

.fixedButtons {
  position: absolute;
  padding: 15px;
  right: 0;
  padding-right: 5%;
}

.storyTitle {
  text-align: center; 
  padding: 25px;
  font-family: 'Cedarville Cursive', cursive;
  font-size: 24px;

}

.crownedPilcrows {
  font-family: 'Goudy Bookletter 1911', serif;
  font-size: 18px;
}

.paper {
  padding-top: 50px;
  padding-bottom: 50px;
  border:1px solid #e5e5e5;
  -webkit-box-shadow: 7px 7px 0px -2px rgba(184,184,184,0.54);
  -moz-box-shadow: 7px 7px 0px -2px rgba(184,184,184,0.54);
  box-shadow: 7px 7px 0px -2px rgba(184,184,184,0.54);
}


.inBlock {
  display: inline-block;
}

footer {
  position: fixed;
  margin-left: -30px;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #EEEEEE;
  border-top: 1px solid #b5b5b5;
}